html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  background: whitesmoke;
}
#buttons {
  position: absolute;
  top: 20px;
  left: 180px;
}

.btn {
  border: .5px solid rgba(25,25,25,0.6);
  -webkit-box-shadow: inset 0px 0px 6px 0px rgba(25,25,25, 0.6);

  background: #4c4c4c;
  background-color: #999999;
  border-radius: 8px;
  vertical-align: middle;
  text-decoration: none;

  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 8px;
}

.btn:hover {
  text-decoration: underline;
  cursor: pointer;
}
